.app__header {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  padding-left: 1.2rem 1rem;
  align-items: center;
  background: linear-gradient(to right, #432371, #163658);
  color: white;
}

.app_logo_section {
  display: flex;
  align-items: center;
}

.app_library--btn {
  background-color: black;
  margin-right: 3rem;
  padding: 0.5rem 0.9rem;
  border-radius: 4px;
  color: white;
  border: 1px solid yellow;
  transition: all 0.2s ease-in-out;
  font-size: 1.4rem;
  cursor: crosshair;
  &:hover {
    background: rgb(26, 13, 61);
    border-color: white;
  }
}

@media screen and (max-width: 600px) {
  .app_logo_section {
    img {
      min-width: 45% !important;
    }
  }
  .app_library--btn {
    margin-left: 45px;
  }
}
